@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-color: #c5e4e7;
    padding: 1rem;
}

main {
    max-width: 922px;
    min-width: 0;
}

button:hover,
button:focus {
    background-color: #9fe8df;
}

.title {
    text-align: center;
    margin-bottom: 8rem;
}

.main-container {
    display: flex;
    /* padding: 3.4rem; */
    background-color: #fff;
    /* min-width: 922px; */
    border-radius: 2rem;
    letter-spacing: 1px;
    box-shadow: 0 10px 50px #0048441a;
}

.main-container > *{
    width: 50%;
}

.input-container {
    color: hsl(186, 14%, 43%);
    padding: 0 2rem 0 0;
}

.input-container >*{
    margin: 4.8rem;
}

.input-container input {
    border: 2px solid hsl(202, 50%, 97%);
    outline: none;
    background-color: #f3f8fb;
    font-size: 2.4rem;
    padding: 1.3rem;
    text-align: right;
    color: #00474b;
    font-weight: bold;
    border-radius: 0.5rem;
}

.input-container input:focus{
    border: 2px solid #26c2ad;
}

.input-container label,
.input-container p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bill,
.no-people {
    display: flex;
    flex-direction: column;
}

.percentage-holder {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}

.percentage-holder >*{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    max-width: 11.7rem;
    height: 4.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #00474b;
    margin: 0.7rem;
    color: #fff;
    cursor: pointer;
}

.percentage-holder input{
    padding: 0;
    text-align: center;
    background-color: #f4f8fb;
    color: #1d8388;
}

.results {
    display: flex;
    flex-direction: column;
    background-color: #00474b;
    /* max-height: 41.7rem; */
    margin: 3.4rem 3.4rem 3.4rem 0;
    padding: 4rem;
    border-radius: 2rem;
}

.results .text>* {
    display: block;
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.text span:nth-child(1) {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.text span:nth-child(2) {
    color: rgba(255, 255, 255, 0.507);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.bold-text {
    font-size: 5rem;
    font-weight: bold;
    color: #26c2ad;
}

.results .btn button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: #26c2ad;
    color: #004845;
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    margin-top: 10rem;
}

.results .btn button:hover {
    background-color: #9fe8df;
    cursor: pointer;
}

.attribution { 
    margin-top: 1rem;
    font-size: 2rem; 
    text-align: center; 
    font-weight: bold;
    color: #004845;
}
    
.attribution a { 
    color: #26c2ad; 
    text-decoration: none;
}

@media (max-width: 931px){
    .main-container{
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .main-container > *{
        width: 100%;
    }

    .tip-percentage {
        margin: 1rem;
    }

    .percentage-holder {
        width: 30rem;
        margin-right: 1px;
    }

    .percentage-holder >*{
        max-width: 13rem;
    }

    .results {
        min-width: 10px;
        margin: 1rem;
    }

    .bold-text {
        font-size: 4rem;
        font-weight: bold;
        color: #26c2ad;
    }
}
